.title {
    font-family: 'Fredoka One', cursive;
    color: #6b82a7;
}

.inventory {
    margin: -3px;
    position: absolute;
    width: 100%;
    bottom: 0;
}

.inventory-title {
    font-size: 0.6rem;
    font-weight: bold;
    letter-spacing: 0.5px;
    color: #6e7687;
    opacity: 0.7;
    margin-left: 5px;
    margin-bottom: 5px;
}

.item-slot {
    background-clip: border-box;
    width: 16.66%;
    height: 70px;
    box-sizing: border-box;
    float: left;
    padding: 3px;
}

.chat {
    position: absolute;
    margin-bottom: 1.5rem;
    width: 100%;
    top: 0;
    bottom: 150px;
    min-height: auto;
}

.lines {
    position: absolute;
    bottom: 1rem;
}

.line {
    margin-bottom: 5px;
}

.item {
    background-color: #fff;
    border: 1px solid rgba(0, 40, 100, 0.12);
    border-radius: 3px;
    height: 100%;
    width: 100%;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
    text-align: center;
}

.item .fe-box {
    opacity: 0.2;
    font-size: 2rem;
    margin-top: 13px;
    display: inline-block;
}

.container {
    max-width: 1400px;
}

.world {
    background: #CCC;
    background-image: none;
    height: 700px;
    width: 100%;
    position: relative;
    border-radius: 10px;
    background-image: linear-gradient(0deg, #a1c4fd 0%, #c2e9fb 100%);
}
.land {
    background: #999;
    background-image: none;
    height: 220px;
    width: 540px;
    position: absolute;
    bottom: 20px;
    margin: 30px;
    box-sizing: border-box;
    border-radius: 30px;
    background-image: linear-gradient(170deg, #84fab0 0%, #8fd3f4 100%);
    border-radius: 50% 50% 50% 50% / 60% 60% 40% 40%;
    left: 150px;
    box-shadow: 5px 15px 25px #99baf0;
}
.pet svg {
    top: -170px;
    position: absolute;
    left: 40px;
}
[inkscape\:label=top], 
[inkscape\:label=body], 
[inkscape\:label=ears], 
[inkscape\:label=head], 
[inkscape\:label=arm1], 
[inkscape\:label=arm2], 
[inkscape\:label=leg1], 
[inkscape\:label=leg2] {
    transition: all 1s;
    position: relative;
}
.bean a {
    display: block;
    background: yellow;
    width: 40px;
    height: 50px;
    -webkit-border-radius: 63px 63px 63px 63px / 108px 108px 72px 72px;
    border-radius: 50% 50% 50% 50% / 60% 60% 40% 40%;
    transform: rotate(30deg);
    margin: auto;
    margin-top: 50px;
}

.text-blue {
    color: #467fcf;
}

.text-red {
    color: #cd201f;
}

.text-purple {
    color: #a55eea;
}

.middot {
    display: inline-block;
    margin: 0 0.5rem;
    color: #6b82a7;
}