.title {
    font-family: 'Fredoka One', cursive;
    color: #6b82a7;
}

.inventory {
    margin: -3px;
    position: absolute;
    width: 100%;
    bottom: 0;
}

.inventory-title {
    font-size: 0.6rem;
    font-weight: bold;
    letter-spacing: 0.5px;
    color: #6e7687;
    opacity: 0.7;
    margin-left: 5px;
    margin-bottom: 5px;
}

.item-slot {
    background-clip: border-box;
    width: 16.66%;
    height: 70px;
    box-sizing: border-box;
    float: left;
    padding: 3px;
}

.chat {
    position: absolute;
    margin-bottom: 1.5rem;
    width: 100%;
    top: 0;
    bottom: 150px;
    min-height: auto;
}

.lines {
    position: absolute;
    bottom: 1rem;
}

.line {
    margin-bottom: 5px;
}

.item {
    background-color: #fff;
    border: 1px solid rgba(0, 40, 100, 0.12);
    border-radius: 3px;
    height: 100%;
    width: 100%;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
    text-align: center;
}

.item .fe-box {
    opacity: 0.2;
    font-size: 2rem;
    margin-top: 13px;
    display: inline-block;
}

.container {
    max-width: 1400px;
}

.world {
    background: #CCC;
    background-image: none;
    height: 700px;
    width: 100%;
    position: relative;
    border-radius: 10px;
    background-image: linear-gradient(0deg, #a1c4fd 0%, #c2e9fb 100%);
}
.land {
    height: 220px;
    width: 740px;
    position: absolute;
    top: 250px;
    margin: 30px;
    box-sizing: border-box;
    left: 60px;
}
.pet {
    position: absolute;
    top: 180px;
    left: 220px;
    z-index: 10;
    transition: all 4s;
}
.pet:after {
    content: "";
    display: block;
    width: 90px;
    height: 20px;
    background: #8d7684;
    opacity: 0.2;
    -moz-border-radius: 100px / 50px;
    -webkit-border-radius: 100px / 50px;
    border-radius: 40px / 10px;
    position: absolute;
    top: 270px;
    left: 86px;
    z-index: -1;
}
[inkscape\:label=top], 
[inkscape\:label=body], 
[inkscape\:label=ears], 
[inkscape\:label=head], 
[inkscape\:label=arm1], 
[inkscape\:label=arm2], 
[inkscape\:label=leg1], 
[inkscape\:label=leg2] {
}
.bean {
    position: absolute;
    top: 440px;
    left: 490px;
    z-index: 10;
}


[inkscape\:label=arm1] {
    transform-origin: 110px 200px;
}
[inkscape\:label=arm2] {
    transform-origin: 150px 200px;
}
[inkscape\:label=leg1] {
    transform-origin: 110px 240px;
}
[inkscape\:label=leg2] {
    transform-origin: 160px 260px;
}


.bean a {
    display: block;
    background: yellow;
    width: 40px;
    height: 50px;
    -webkit-border-radius: 63px 63px 63px 63px / 108px 108px 72px 72px;
    border-radius: 50% 50% 50% 50% / 60% 60% 40% 40%;
    transform: rotate(30deg);
}

.bean:after {
    content: "";
    display: block;
    width: 50px;
    height: 15px;
    background: #8d7684;
    opacity: 0.2;
    -moz-border-radius: 100px / 50px;
    -webkit-border-radius: 100px / 50px;
    border-radius: 40px / 10px;
    position: absolute;
    top: 41px;
    left: -6px;
    z-index: -1;
}

.text-blue {
    color: #467fcf;
}

.text-red {
    color: #cd201f;
}

.text-purple {
    color: #a55eea;
}

.middot {
    display: inline-block;
    margin: 0 0.5rem;
    color: #6b82a7;
}

.land img {
    position: absolute;
    top: 0;
}