
.game {
    width: 930px;
    margin: auto;
    padding-top: 40px;
}
.world {
    float: left;
    border: 3px double #ccc;
    height: 500px;
    width: 570px;
    overflow: hidden;
    background: #242f3980;
}

.chat {
    position: relative;
    float: left;
    border: 3px double #ccc;
    height: 500px;
    width: 340px;
    margin-left: 16px;
}

.form {
    position: absolute;
    bottom: 0;
    width: 100%;
}

.chat input {
    background: transparent;
    color: #ccc;
    border: none;
    border-top: 3px double #999;
    border-radius: 0;
}

.chat .btn {
    background: transparent;
    color: #ccc;
    border: none;
    border-top: 3px double #999;
    border-left: 1px solid #999;
    border-radius: 0;
}

.chat .form-control:focus {
    color: #ccc;
    background: #242F39;
    border-color: #CCC;
    outline: 0;
    box-shadow: none;
}